backend:
  name: git-gateway
  branch: master

publish_mode: editorial_workflow

media_folder: static/images/uploads
public_folder: /images/uploads

collections:
  - name: 'blog'
    label: 'Blog'
    folder: 'src/markdown-pages/{{tag}}'
    create: true
    slug: 'test/{{year}}-{{month}}-{{day}}_{{title}}_{{some_other_field}}'
    fields:
      - { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'blog-post' }
      - { label: 'Slug', name: 'slug', widget: 'string' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Tags', name: 'tags', widget: 'list' }